:root {
  font-size: 62.5%;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/background.png) no-repeat center center fixed;
  background-size: cover;
}

#content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}