.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem;
  gap: 5rem;
  align-self: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
  color: #fca311;
  background-color: rgba(0, 0, 0, 0.5);
}

.item img{
  max-width: 10rem;
}